@font-face {
    font-family: 'Modius';
    src: url('../Graphical elements/Fonts/Modius.ttf') format('truetype');
}

@font-face {
    font-family: 'Stara';
    src: url('../Graphical elements/Fonts/Stara-Medium.ttf') format('truetype');
}

.perspective-1000 {
    perspective: 1000px;
}

.transform-style-3d {
    transform-style: preserve-3d;
}

.text-outline {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

@keyframes spin-slow {
    from { transform: rotate(0deg) translate(-50%, -50%); transform-origin: top left; }
    to { transform: rotate(360deg) translate(-50%, -50%); transform-origin: top left; }
}



/* Fix visibility for Devicon original black icons on dark backgrounds */
.devicon-flask-original {
    filter: invert(1) brightness(2);
}

/* Custom Icon for Antigravity IDE */
.icon-antigravity {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('../Graphical elements/logos/antigravity.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
