/* ############################ */
/* #### IMPORT DES POLICES #### */
/* ############################ */
/* Stara- Medium */
@font-face {
    font-family: 'Stara-Medium';
    src: url('../Graphical elements/Fonts/Stara-Medium.ttf') format('truetype');
}
/* Modius */
@font-face {
    font-family: 'Modius';
    src: url('../Graphical elements/Fonts/Modius.ttf') format('truetype');
}
/* ModiusBld */
@font-face {
    font-family: 'ModiusBld';
    src: url('../Graphical elements/Fonts/Modius Bold.ttf') format('truetype');
}

/* #################### */
/* #### STYLESHEET #### */
/* #################### */

/*body & html*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    justify-content: flex;
    flex-direction: column;
    background-color: black;
    box-sizing: border-box;
    max-width: 100%;
}
html a{
    text-decoration: none;
}

/* Header */
.bg{
    justify-content: flex;
    position: fixed;
    height: 21vh;
    width: 100vw;
    max-width: 100%;
    z-index: 2;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -webkit-mask-image: linear-gradient(to bottom,black 10%,transparent 100%);
}
.header{
    position: fixed;
    top: 0;
    height: 14vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.header img{
    width: 7vh;
    height: 7vh;
    z-index: 2;
    align-self: flex-start;
    padding: 1% 1% 1% 1%;
    transition: transform 0.3s ease;
    transition: all 0.3s ease;
}
.header img:hover{
    transform: rotate(90deg);
}

/* Menu */
.menu {
    font-family: Stara-Medium;
    display: none; 
    position: absolute;
    top: 10vh; 
    width: 100%;
    text-align: center;
    z-index: 9;
    text-shadow: rgb(0, 0, 0) 0px 0 2px;
    box-shadow: 0px 0px 30px black;
    transition: all 0.3s ease;
}
.header:hover .menu {
    display: block; 
    backdrop-filter: blur(2px);
    transition: all 0.3s ease;
}
.menu a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    backdrop-filter: blur(2px);
    transition: all 0.3s ease;
}
.menu a:hover {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: rgb(171, 75, 255);
    box-shadow: 0px 0px 30px rgb(171, 75, 255);
    transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
    .header img{
        width: 8vh;
        height: 8vh;
    }
    .menu {
        top: 11vh;
    } 
}
@media screen and (max-width: 750px) {
    .header img{
        width: 9vh;
        height: 9vh;
    }
    .menu {
        top: 12vh;
    } 
}

/*-------------------------------------- Contenu principal - */

/* Title */
.content1{
    justify-content: flex;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%; 
    overflow-x: hidden;
    background-image:url('../Graphical elements/photos/PortfolioWbst.JPG');
    background-size: cover; 
    background-position: center;
}

.pject{
    display: flex;
    font-family: Modius;
    font-size: 5vw;
    color: white;
    justify-content: center;
    margin-top: 47.5vh;
    text-shadow: rgb(0, 0, 0) 0px 0 2px;
    transition: all 0.3s ease;
}
.pject:hover{
    color: rgb(171, 75, 255);
    text-shadow: rgb(0, 0, 0) 0px 0 10px;
    transition: all 0.3s ease;
}

/* Projects */
.content2{
    justify-content: flex;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom right,rgb(0, 0, 0), rgb(12, 32, 69));
}

.categorytitle{
    display: flex;
    font-family: Stara-Medium;
    font-size: 4vw;
    color: white;
    margin-top: 2vw;
    margin-bottom: 0vw;
    text-shadow: rgb(0, 0, 0) 0px 0 2px;
    transition: all 0.3s ease;
}

.cardcontainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
    position: relative;
    padding-bottom: 1vw;
}
.card {
    width: 40vw;
    height: 50vh;
    margin-bottom: 5vh;
    margin-top: 5vh;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    box-shadow: 0px 0px 30px black;
    transition: all 0.3s ease;
    color: white;
    text-shadow: 0px 0px 5px rgb(151, 32, 255);
    border-radius: 6%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.card:hover {
    width: 42vw;
    height: 52vh;
    margin: 5vh;
    box-shadow: 10px 0px 60px rgb(8, 47, 118);
}

/* -------- Pages différentes -------- */

.cportfolio { /* Page Faite */
    background-image: url('../Graphical elements/photos/PortfolioWbst.JPG');
}
.morpyon {  /* Page Pas Faite */
    background-image: url('../Graphical elements/photos/Morpy0n.JPG');
}

.sae1 { /* Page Pas Faite */
    background-image: url('../Graphical elements/photos/Darken/S101.JPG');
}
.sae2 { /* Page Pas Faite */
    background-image: url('../Graphical elements/photos/Darken/S102.JPG');
}
.sae3 { /* Page Pas Faite */
    background-image: url('../Graphical elements/photos/Darken/S103.JPG');
}
.sae4 { /* Page Pas Faite */
    background-image: url('../Graphical elements/photos/Darken/S104.JPG');
}
.sae5 { /* Page Pas Faite */
    background-image: url('');
}
.sae6 { /* Page Pas Faite */
    background-image: url('');
}
.sae7 { /* Page Pas Faite */
    background-image: url('../Graphical elements/photos/Darken/S201.JPG');
}
.sae8 { /* Page Pas Faite */
    background-image: url('');
}
.sae9 { /* Page Pas Faite */
    background-image: url('../Graphical elements/photos/Darken/S203.JPG');
}
.sae10 { /* Page Pas Faite */
    background-image: url('../Graphical elements/photos/Darken/S204.JPG');
}
.sae11 { /* Page Pas Faite */
    background-image: url('');
}
.sae12 { /* Page Pas Faite */
    background-image: url('');
}

.chifupy {  /* Page Pas Faite */
    background-image: url('../Graphical elements/photos/Chifumi.JPG');
}
.mobilite { /* Page Pas Faite */
    background-image: url('../Graphical elements/photos/ProjetMobilite.JPG');
}
/* -------- ----------------- -------- */

.ctitle{
    display: flex;
    font-family: Stara-Medium;
    margin-left: 10%;
    font-size: 3vw;
    transition: font-size 0.3s ease;
}
.card:hover .ctitle{
    font-size: 3.5vw;
}

.sub {
    font-family: Stara-Medium;
    margin-left:10%;
    font-size: 2vw;
    padding-right: 10%;
    padding-bottom: 10%;
    bottom: 0;
    position: relative;
    margin-bottom: 0px;
}

@media screen and (max-width: 1000px) {

    .content2{
        padding-bottom: 10vw
    }
    .projets{
        font-size: 8vw;
        top: 31vw;
    }

    .cardcontainer{
        margin-top: 1vw;
    }
    .ctitle{
        font-size: 5vw;
    }
    .card:hover .ctitle{
        font-size: 6vw;
    }
    .seemore{
        border-radius: 2%;
        font-size: 2.5vw;
        height: 7vw; 
        margin-bottom: 13vw;
    }
    .seemore:hover{
        font-size: 2.7vw;
    }
    .categorytitle{
        font-size: 8vw;
    }
}

@media screen and (max-width: 750px) {
    .projets{
        font-size: 12vw;
        top: 18vw;
    }

    .card {
        width: 80vw;
        height: 50vh;
        margin: 2vh;
        margin-left: 0vh;
        margin-right: 0vh;
    }
    .card:hover {
        width: 82vw;
        height: 52vh;
        margin: 5vh;
        box-shadow: 10px 0px 60px rgb(8, 47, 118);
    }

    .sub {
        font-size:4vw;
    }
    .ctitle{
        font-size: 7vw;
    }
    .card:hover .ctitle{
        font-size: 8vw;
    }

    .seemore{
        border-radius: 2%;
        font-size: 3.5vw;
        height: 8vw; 
        margin-bottom: 13vw;
    }
    .seemore:hover{
        font-size: 3.7vw;
    }
}

/*---------------------------------------------------------- */
/* Bas de page */
.content4{
    background-color: black;
    justify-content: flex;
    position: relative;
    width: 100vw;
    max-width: 100%;
    max-height: 50%;
    z-index: 1;
    overflow-x: hidden;
    color:rgb(176, 176, 176);
    font-family: Stara-Medium;
    list-style-type: none;
    font-size: 0.9vw;
}

.divider{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: white;
    height: 0.1vh;
}

.headtext{
    position: relative;
    left: 0;
    color: rgb(176, 176, 176);
    font-family: Stara-Medium;
    font-size: 1.5vw;
    top: 1vh;
    left: 2.5vw;
    z-index: 1;
} 

.labellistfoot{
    display: flex;
    justify-content: flex;
    width: 100vw;
    margin-top: 3vh;
    padding-left: 4vw;
    margin-bottom: -0.25vh;
}

.listfooter{
    display: flex;
    flex-direction: column;
    width: 100vw; 
    margin-bottom: 0vh;
    font-style: italic;
}
.listfooter ul {
    margin: 0.5vh 0;
    padding: 0.2vh 0 5;
}
.listfooter a{
    color: rgb(176, 176, 176);
    text-decoration: none;
    transition: all 0.3s ease;
    text-decoration-line: underline;
}
.listfooter a:hover{
    color: rgb(171, 75, 255);
}

.linkedin{
    position: absolute; 
    top: 10vh; 
    right: 3vh;
    display: flex;
    justify-content: flex;
    width: 3vw;
    font-size: 1.5vh;
    filter: drop-shadow(0px 0px 0px rgb(171, 75, 255));
    transition: all 0.3s ease;
    z-index: 2;
}
.linkedin:hover{
    filter: drop-shadow(0px 0px 10px rgb(171, 75, 255));
    width: 3.1vw;
}

.github{
    position: absolute; 
    top: 3vh; 
    right: 3vh;
    display: flex;
    justify-content: flex;
    width: 3vw;
    font-size: 1.5vh;
    filter: drop-shadow(0px 0px 0px rgb(171, 75, 255));
    transition: all 0.3s ease;
    z-index: 2;
}
.github:hover{
    filter: drop-shadow(0px 0px 10px rgb(171, 75, 255));
    width: 3.1vw;
}

.copiryghtandco{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    margin-top: 1vh;
    margin-bottom: 0vh;
    padding-right: 5vw;
    bottom: 0;
    font-size: 1.5vh;
}

@media screen and (max-width: 1000px) {
    .headtext{
        font-size: 2vw;
        top: 1vh;
        left: 2.5vw;
    }
    .labellistfoot{
        font-size: 1.7vw;
        margin-top: 5vh;
    }
    .listfooter{
        font-size: 1.5vw;
        margin-bottom: 0vh;
    }
}
@media screen and (max-width: 750px) {
    .headtext{
        font-size: 4vw;
        top: 1vh;
        left: 2.5vw;
    }
    .labellistfoot{
        font-size: 2.7vw;
        margin-top: 5vh;
    }
    .listfooter{
        font-size: 2.5vw;
        margin-bottom: 3vh;
    }
    .linkedin{
        top: 5vh; 
        right: 3vh;
        width: 8.5vw;
    }
    .linkedin:hover{
        width: 8.6vw;
    }
    .github{
        top: 12vh; 
        right: 3vh;
        width: 8.5vw;
    }
    .github:hover{
        width: 8.6vw;
    }
}


/* ################### */
/* #### Keyframes #### */
/* ################### */